img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
/* .container {
  width: var(--container-width-lg);
  margin: 0 auto;
} */

.classTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.classTop h4:hover {
  color: var(--technology-bg);
}
.classTop .classimg {
  width: 100%;
  height: 270px;
  /* margin: auto; */

  transition: all 1s;
}
.homeclass1 h4,
.homeclass2 h4 {
  margin-top: 0.5rem;
}
.homeclass2 h4{
  margin-top: .5rem;
}
/* .classTop h2:hover {
  color: #00a79d;
} */

article p::first-letter {
  font-size: 22px;
}

/* article p:hover {
  color: #00a79d;
} */
