.cate-main {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.postCate {
  display: grid;
  grid-template-columns: 40% 60%;
}
.Cate_img {
  position: relative;
}
.Cate_img img {
  width: 250px;
  height: 180px;
}
.postCate_info {
  width: 90%;
}
.postCate_info h4 {
  margin-bottom: 0;
}
.postCate_info h4:hover{
  color: var(--technology-bg);
}
.postCate_info p {
  margin-bottom: 0;
}
.Catebutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
