.firstphoto:hover h4.sciencecolor {
  color: rgb(29 210 221 / 78%);
}
.robotpara:hover h4.sciencecolor {
  color: rgb(29 210 221 / 78%);
}
.secair:hover h4.sciencecolor {
  color: rgb(29 210 221 / 78%);
}
